$screen-sm-mobile: 320px;
$screen-md-mobile: 560px;
$screen-sm-tablet: 768px;
$screen-md-tablet: 992px;
$screen-sm-laptop: 1280px;
$screen-md-laptop: 1440px;

$breakpoints: (
  'xmobile': $screen-sm-mobile,
  'mobile': $screen-md-mobile,
  'xtablet': $screen-sm-tablet,
  'tablet': $screen-md-tablet,
  'xlaptop': $screen-sm-laptop,
  'laptop': $screen-md-laptop,
);
